body{
    margin-top: 0;
}
#container{
    margin-top: 20px;
    display: flex;
}

#menuBar{
    margin: 5px;
    width: 25%;
}

#displayReg{
    margin: 5px;
    width: 75%;
    min-height: 75vh;
}

li{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    text-indent: 10px;
}

li:hover{
    color: #3081a6;
    cursor: pointer;
}

h1{
    text-align: center;
}

.right-align{
    text-align: right;
}
.margin{
    margin: 25px;
}

hr{
    border:2px #000000 solid;
}

.pointer{
    cursor: pointer;
}

.marginRef{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60px;
    
}
.text-indent{
    text-indent: 10px; 
}

.center{
    text-align:center;
}

.bold{
    font-weight: bold;
}

