body {
    font-family: sans-serif;
    background-color: #ff9966;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.imgContainer{
    margin-top: 30px;
    display: inline-block;
    float: left;
}

.imgParameters{
    height: 300px;
    border-radius: 50%;
    border: 3px #ffffff solid;
}

.infoContainer{
    margin-top: 50px;
    margin-left: 30%;
}
.font-size{
    font-size: 20px;
}
.bold{
    font-weight: bold;
}
table{
    border-collapse: collapse;
}

.left-align{
    
}

table td:first-child{
    text-align: center;
}