body{
    display: flex;
}

section{
    margin-top: 90px;
    width: 50%;
}

#signup{
    border-right: 1px #000000 solid;
}

#signin{
    border-left: 1px #000000 solid;
}

table td:first-child{
    text-align: right;
}

input[type=reset]{
    margin-left: 2px;
    border: transparent;
}

