body {
    font-family: sans-serif;
    background-color: #e4f1f7;
    margin-top: 75px;
}

#container{
    display: flex;
}

.margin-left{
    margin-left: 50px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.navmargin{
    margin-left: 75%;
}

#title{
    font-weight: bold;
    flex-grow: 1;
}

#banner{
       flex-grow: 3; 
}

.sigin{
        flex-grow: 1;
}
#home,#signup{
    margin-top: 45px;
    width: 50%;
}

.imgContainer{
    display: inline-block;

}

.img-medium {
    height: 300px;
    border-radius: 50%;
    border: 3px #ffffff solid;

}

.buttonContainer{
   display: inline-block;
   margin-top: 40px;
}